@model IEnumerable<Asp_Viagens.Models.Banco.Produtos.FiltrarPlanoPacote>

@{
    ViewBag.Title = "FiltrarTodosPacotes";
}

<h2>FiltrarTodosPacotes</h2>

@using (Html.BeginForm("FiltrarTodosPacotes", "Pacote", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <div class="col-md-10">
            <input type="text" name="nmPacote" placeholder="Digite o interresse">
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <input type="text" name="nmPais" placeholder="Digite o nome do Pais">
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <input type="text" name="valor" placeholder="Digite um valor minimo e maximo, Exp:0/2000">
        </div>
    </div>

    <input type="submit" name="Filtrar">

}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdPacote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nmPacote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dsPreco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dsPacote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Imagem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nmPais)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPacote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nmPacote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dsPreco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dsPacote)
            </td>
            <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                <div class="bg-image hover-zoom ripple rounded ripple-surface">
                    <img src=@item.Imagem class="w-100" style="border-radius: 5px" />
                </div>
            </div>
            <td>
                @Html.DisplayFor(modelItem => item.nmPais)
            </td>
            <td>
            </td>
        </tr>
        if (Session["tipoLogado2"] != null)
        {
            <div class="d-flex flex-column mt-4">
                @Html.ActionLink("Editar", "EditarPlanosId", "Plano", new { id = item.IdPacote }, new { @class = "btn btn-warning btn-sm" })
                @Html.ActionLink("Detalhes", "Details", new { id = item.IdPacote }, new { @class = "btn btn-primary btn-sm" })
                @Html.ActionLink("Deletar ", "DeletarPlano", "Plano", new { id = item.IdPacote }, new { @class = "btn btn-danger btn-sm" })
            </div>
        }
        else
        {
            using (Html.BeginForm("AdicionarCarrinho", "Home", FormMethod.Post))
            {
                <input type="hidden" name="id" value="@item.IdPacote" />
                <button type="submit" class="color btn btn-default azul">Adicionar ao carrinho</button>
            }
        }
    }

</table>
